span {
	/*margin-top: 100px;*/
	position: absolute;
	font-size: 90px;
	left: 0;
	right: 0;
	color:#fff;
}

#change-pdf {
	cursor: pointer;
	display: none;
}

#pdf-form {
	margin-top: 50px;
}

#pdf-button {
	height: 50px;
	width: 200px;
	margin-top: 170px;	
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #fff;
	background: #1d9650;
	border: 0px;
}

#pdf-button.shrink {
	margin-top: 10px;
	height: 50px;
	width: 200px;
	margin-top: 15px;	
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #fff;
	background: #1d9650;
	border: 0px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #cc5350;
    color:#fff;
    z-index: 1000;
    height: 220px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
}

.header.shrink {
    height: 85px;
}

.header span, #pdf-button
{
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink span
{
    font-size:59px;
    right: 700px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}